.singleContactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    background: #ffeeec;
    padding: 40px;
    height: 235px;

    .infoIcon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid #ffdcd9;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.infoContent {
    .infoTitle {
        color: #000;

        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0.54px;
        margin-bottom: 12px;
    }

    .infoText {
        color: #433b3a;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        max-width: 80%;
    }
}

/* Responsive CSS Start */
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 360px) {
}
/* Responsive CSS End */
