@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../styles/reset.css';
@import '../styles/typography.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.column-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.section {
    padding: 100px 0;
}

.section-pt {
    padding-top: 100px;
}

.section-pb {
    padding-bottom: 100px;
}

/* Header Start */
.nav-link {
    color: var(--gray-900, #140a09);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
}

.navbar.navbar-expand-lg {
    padding: 20px 0;
}

.ms-auto.navbar-nav {
    gap: 40px;
}

.nav-link.active {
    color: #ff5042 !important;
}

.header {
    background: #fff7f5 !important;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

.header-1 {
    background: #fff7f5 !important;
}
/* Header End */

/* Button Start */
.btn {
    padding: 16px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    border-radius: 0;
    transition: 0.3 ease all;
    -webkit-transition: 0.3 ease all;
    -moz-transition: 0.3 ease all;
    -ms-transition: 0.3 ease all;
    -o-transition: 0.3 ease all;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.btn-orange {
    color: #fff;
    background-color: #ff5042;
    border: 1px solid #ff5042;
}
.btn-orange:hover {
    color: #fff;
    background-color: #ff5042;
    border: 1px solid #ff5042;
}
.btn-yellow {
    color: #1d2939;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.btn-yellow:hover {
    color: #1d2939;
    background-color: #ccc;
    border: 1px solid #ccc;
}
.btn-orange-outline {
    color: #ff5042;
    background-color: transparent;
    border: 1px solid #ff5042;
}
.btn-orange-outline:hover {
    color: #ff5042;
    background-color: transparent;
    border: 1px solid #ff5042;
}
.btn-light {
    color: #ff5042;
    background-color: #fff;
    border: 1px solid #fff;
}
.btn-light:hover {
    color: #ff5042;
    background-color: #fff;
    border: 1px solid #fff;
}
.btn-dark {
    color: #fff;
    background-color: #140a09;
    border: 1px solid #140a09;
}
.btn-dark:hover {
    color: #ff5042;
    background-color: #140a09;
    border: 1px solid #140a09;
}
.btn-text {
    color: #ff5042;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
}
.btn-text:hover {
    color: #ff5042;
}
/* Button End */

/* 404 Start */
.notFound-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding-top: 100px;
}

.notFoundTitle {
    color: var(--gray-900, #140a09);
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0.9px;
    margin-top: -120px;
}

.notFoundText {
    color: var(--gray-700, #433b3a);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
/* 404 End */

/* Tabs */
.nav-tabs {
    border-bottom: 0;
    margin-bottom: 24px;
}

.nav-tabs .nav-link {
    margin-bottom: 0;
    background: 0;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 55px 16px 55px;
    color: #000 !important;
    font-size: 30px;

    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.45px;
    border-bottom: 4px solid #f3f3f3 !important;
    margin-right: 20px;
}

.nav-tabs .nav-link.active {
    border-bottom: 4px solid #000 !important;
}
/* Tabs */

/* Section Title */
.section-top-title {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.section-title-box-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.section-title-box-between .section-title {
    margin-bottom: 0;
}
.section-top-2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px;
}
.section-title {
    color: #000;
    font-size: 48px;

    font-style: normal;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0.72px;
    margin-bottom: 18px;
}
.section-text {
    color: var(--gray-700, #433b3a);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

/* Section Title */

.client-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}

.client-text {
    color: var(--gray-900, #020304);
    font-size: 20px;

    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

.single-client-2 {
    height: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f3f3f3;
    cursor: pointer;
}

.partners-title {
    color: #000;

    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0.54px;
    margin-bottom: 24px;
}

.single-partner {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-300, #ffeeec);
    background: var(--primary-200, #fff6f6);
}

/* Form Start */
.formInputWrapper label {
    margin-bottom: 12px !important;
    color: var(--gray-900, #140a09);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.form-check-label {
    margin-bottom: unset !important;
}

.selectpicker {
    height: 100%;
    border-radius: 6px;
}

.selectpicker:focus-visible {
    outline: 0;
    border-radius: 6px;
}

.form-check-label {
    font-weight: 400;
    font-size: 18px;
    color: #6c688a;
    line-height: initial;
}

.form-check-input:focus {
    border-color: #ff5042;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-select:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0a033c;
}

.form-label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #9d9ab1;
}

.form-control,
.form-select {
    font-style: normal;
    font-weight: 400;
    padding: 18px 24px;
    border-radius: 0;
    border: 1px solid var(--primary-300, #ffeeec);
    background: var(--gray-white, #fff);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

::-webkit-input-placeholder {
    color: #726c6b;
}

::-moz-placeholder {
    color: #726c6b;
}

:-ms-input-placeholder {
    color: #726c6b;
}

::-ms-input-placeholder {
    color: #726c6b;
}

::placeholder {
    color: #726c6b;
}

.form-select {
    color: #726c6b !important;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #ff5042;
    outline: 0;
    border: 1px solid #ff5042;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-prepend {
    border: 1px solid #e7e6ec;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.selectpicker {
    color: #6c688a;
    padding: 16px 12px;
    border: 0;
}

.input-group-text {
    background-color: #fff;
    border: 1px solid #e7e6ec;
    padding: 16px 12px;
}
/* Form End */

/* Accordion Start */
.accordion {
    --bs-accordion-bg: transparent;
}

.accordion-button {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid var(--primary-300, #ffeeec) !important;
    background: var(--gray-white, #fff) !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.accordion-button:focus {
    border-color: #98a2b3;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

.accordion-body {
    padding: 10px 20px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #667085;
}

.accordion-button:not(.collapsed) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #ff5b2e;
    background: transparent;
    border: 0;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}

.accordion-button:not(.collapsed) {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accordion-item {
    margin-bottom: 12px;
    border: 1px solid var(--primary-300, #ffeeec);
    background: var(--gray-white, #fff);
}

.accordion-button:focus {
    color: #ff5b2e;
    background: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}

.accordion-body {
    padding: 10px 65px;
    color: var(--gray-700, #433b3a);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.accordion-collapse.collapse {
    background: #fff6f6;
}

.accordion-header {
    margin-bottom: 0;
    background: #fff6f6;
}

.accordion-button {
    background: transparent !important;
}
/* Accordion End */

/* Responsive CSS Start */
@media screen and (max-width: 1600px) {
    .notFoundTitle {
        font-size: 55px;
    }

    .section {
        padding: 80px 0;
    }

    .section-pt {
        padding-top: 80px;
    }

    .section-pb {
        padding-bottom: 80px;
    }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
    .notFoundTitle {
        font-size: 50px;
        line-height: 65px;
    }

    .section-title {
        color: #000;
        font-size: 45px;
    }

    .client-wrapper {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 768px) {
    .notFoundTitle {
        font-size: 40px;
        line-height: 55px;
        margin-top: -130px;
    }
}
@media screen and (max-width: 575px) {
    .notFoundTitle {
        font-size: 35px;
        line-height: 50px;
        margin-top: -110px;
    }

    .btn {
        padding: 10px 20px;
    }
}
@media screen and (max-width: 480px) {
    .notFoundTitle {
        font-size: 30px;
        line-height: 45px;
        margin-top: -80px;
    }
}
@media screen and (max-width: 360px) {
}
/* Responsive CSS End */
