.helpCollections li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 18px;
    gap: 12px;
    background: var(--primary-200, #fff6f6);
    margin-bottom: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.helpIcon {
    width: 56px;
    height: 56px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.helpCollections h3 {
    color: var(--gray-700, #433b3a);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

/* Responsive CSS Start */
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1366px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 575px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 360px) {
}
/* Responsive CSS End */
